body{
    display: grid;
    margin: 0;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: 200px 400px 400px 75px;
    grid-template-areas:
            "header header header"
            "member1 member2 member3"
            "member4 member5 member6"
            "footer footer footer";
    justify-items: center;

}

@media only screen and (max-width: 650px) {
    body{
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: 200px 400px 400px 400px 75px;
        grid-template-areas:
            "header header "
            "member1 member2 "
            "member3 member4 "
            "member5 member6 "
            "footer footer ";
        justify-items: center;
    }

    .member-2{
        align-self: flex-start !important;
    }
    .member-5{
        align-self: flex-start !important;
    }
}

.header{
    grid-area: header;
    display: flex;
    justify-content: space-evenly;
}

.header__title{
    font-family: 'PT Serif', serif;
    align-self: center;
    font-weight: bold;
    font-size: 40px;
    text-align: center;
}

.header-subtitle{
    width: 400px;
}

.header-subtitle-tittle{
    font-family: 'Poppins', sans-serif;
}

.member{
    display: flex;
    position: relative;
}

.member__role{
    transform: rotate(90deg);
    align-self: flex-start;
    font-family: 'PT Serif', serif;
    margin: 0;
    position: absolute;
    right: -50px;
    top: 25px;
}

.member__role--long{
    transform: rotate(90deg);
    align-self: flex-start;
    font-family: 'PT Serif', serif;
    margin: 0;
    position: absolute;
    right: -70px;
    top: 50px;
}
.member-1{
    grid-area: member1;
}
.member-2{
    grid-area: member2;
    align-self: flex-end;
}
.member-3{
    grid-area: member3;
}
.member-4{
    grid-area: member4;
}
.member-5{
    grid-area: member5;
    align-self: flex-end;
}
.member-6{
    grid-area: member6;
}
.member-1__image{
    background-image: url("images/entrepreneur-593371_640.jpg");
}

.member-2__image{
    background-image: url("images/people-2442565_640.jpg");
}

.member-3__image{
    background-image: url("images/girl-1828538_640.jpg");
}

.member-4__image{
    background-image: url("images/portrait-3204843_640.jpg");
}

.member-5__image{
    background-image: url("images/girl-657753_640.jpg");
}
.member-6__image{
    background-image: url("images/beanie-2562646_640.jpg");
}


.member__image{
    background-position: center;
    background-size: cover;
    height: 260px;
    width: 180px;
}

.member__name{
    font-weight: 600;
}

p{
    font-family: 'Poppins', sans-serif;
}

h1{
    font-family: 'PT Serif', serif;
    font-weight: 700;
}

.footer{
    grid-area: footer;
    color: #A9A9A9;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    align-self: end;
    padding: 16px 0px;
    font-size: 13px;

}
