body{
    display: grid;
    margin: 0;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: 200px 500px 500px 50px;
    grid-template-areas:
            "header header header header"
            "members1 members1 members1 members1"
            "members2 members2 members2 members2"
            "footer footer footer footer";
}

.header{
    grid-area: header;
    display: flex;
    justify-content: space-evenly;
}

.header__title{
    font-family: 'PT Serif', serif;
    align-self: center;
    font-weight: bold;
    font-size: 40px;
}

.header-subtitle{
    width: 400px;
}

.header-subtitle-tittle{
    font-family: 'Poppins', sans-serif;
}

.members-row-1{
    grid-area: members1;
    display: flex;
    justify-content: center;

}
.members-row-2{
    grid-area: members2;
    display: flex;
    justify-content: center;
}


.member{
    padding: 16px 40px;
    display: flex;
}

.member__role{
    transform: rotate(90deg);
    align-self: flex-start;
    padding: 32px 0px;
    font-family: 'PT Serif', serif;
}

.member-2{
   align-self: flex-end;
}
.member-5{
    align-self: flex-end;
}

.member__image{
    background-image: url("images/pikachu.jpg");
    background-position: center;
    background-size: cover;
    height: 300px;
    width: 120px;
}

.member__name{
    font-weight: 600;
}

p{
    font-family: 'Poppins', sans-serif;
}

h1{
    font-family: 'PT Serif', serif;
    font-weight: 700;
}

.footer{
    grid-area: footer;
    background-color: black;
    color: white;
}
